{{> header }}

<div class="container mt-3">
	<div class="card rounded">
		<small class="card-header text-color-lightgray">{{ note.category }} @ {{ toDate note.date}}</small>
		<div class="card-body">
			<h4 class="card-title">{{ note.title }}</h4>
			<p class="card-text">{{ note.description }}</p>
		</div>
	</div>
	<div class="btns">
		<a href="/" class="btn bg-page-blue">
			Regresar
		</a>
		<a id="delete-btn" class="btn bg-page-coral">
			Eliminar
		</a>
		<a href="/modify-note/{{ note._id }}" class="btn bg-page-green">
			Modificar
		</a>
	</div>
</div>

{{!-- <div class="container">
	<div>
		<h4>{{ note.title }}</h4>
		<p style="margin-top: 15px">{{ note.category }} - {{ toDate note.date }}</p>
		<p>{{ note.description }}</p>
	</div>
	
</div> --}}

{{> footer }}