{{> header }}

<div class="mycontainer mx-auto mt-3">
	<div class="card rounded">
		<small class="card-header text-color-lightgray">{{ note.category }} @ {{ toDate note.date}}</small>
		<div class="card-body">
			<h4 class="card-title">{{ note.title }}</h4>
			<p class="card-text">{{ note.description }}</p>
		</div>
	</div>
	<div class="btns d-flex justify-content-around">
		<a href="/" class="btn bg-page-blue">
			Regresar <i class="fas fa-undo-alt"></i>
		</a>
		<a href="" id="delete-btn" class="btn bg-page-wild-watermelon">
			Eliminar <i class="fas fa-ban"></i>
		</a>
		<a href="/modify-note/{{ note._id }}" class="btn bg-page-yellow">
			Modificar <i class="fas fa-pen"></i>
		</a>
	</div>
</div>

{{> footer }}